* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.about-main-container {
    height: 20rem;
    width: 100%;
    position: relative;
    background-color: #0c0617;
}

.about-main-container .about-header-bg-img {
    height: auto;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.main-container .header-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    background: linear-gradient(black , #171618bf) !important;
    height: auto;
    width: 100%;
    z-index: 3;
}

.main-container .header-container .logo {
    line-height: 80px;
    padding: 0 40px;
}

.main-container .list-menu {
    float: right;
    margin-right: 20px;
}

.main-container .header-container .list-menu li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.main-container .header-container .list-menu li a {
    color: white;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
}

.main-container .header-container .list-menu .ticket-btn {
    background: linear-gradient(45deg, #503aca 0%, #ea34ff 100%);
}

.main-container a.active,
.main-container a:hover {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(50deg, #503aca 0%, #ea34ff 100%);
}

.main-container .checkBtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.main-container #check {
    display: none;
}

.about-main-container .about-file-info {
    height: auto;
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.about-main-container .about-file-info .page-info-icon {
    height: 65px;
    width: 65px;
    line-height: 65px;
    margin: 5px;
    background: linear-gradient(45deg, #503aca 0%, #ea34ff 100%);
}

@media (max-width: 952px) {
    .main-container label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .main-container .header-container .list-menu li a {
        font-size: 16px;
    }
}

@media (max-width: 1420px) {

    .main-container .header-container {
        background: linear-gradient(black , #171618bf) !important;
    }

    .checkBtn {
        display: block !important;
    }

    .main-container .header-container .list-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(#171618 , black) !important;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 10;
    }

    .main-container .header-container .list-menu li {
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    .main-container .header-container .list-menu li a {
        font-size: 20px;
    }

    .main-container a:hover,
    .main-container a.active {
        background-color: none;
        color: white;
    }

    .main-container #check:checked~ul {
        left: 0;
    }
}

@media (max-width : 340px) {
    .main-container .header-container .logo {
        padding: 0 10px;
    }
}